<div *ngIf="loading$ | async" class="overlay">
  <mat-spinner></mat-spinner>  
</div>

<div gdColumns="1fr" gdRows="auto 1fr" gdGap="15px" class="main">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Hashassine</h1>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div *ngIf="nearService.isLoggedIn | async; then username else loginButton"></div>
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon [svgIcon]="document.body.classList.contains('theme-alternate') ? 'weather-night' : 'white-balance-sunny'"></mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div [gdColumns]="(nearService.isLoggedIn | async) ? '1fr 1fr' : '1fr'" gdRows="auto" gdGap="15px">
    <mat-card role="section">
      <mat-card-title>Hashes</mat-card-title>
      <mat-card-content>
        <app-hash-list></app-hash-list>
      </mat-card-content>
    </mat-card>
    <mat-card role="section" fxLayout="column" *ngIf="nearService.isLoggedIn | async">
      <mat-card-title>Your Hashes</mat-card-title>
      <mat-card-content>
        <app-profile></app-profile>
      </mat-card-content>
      <button mat-icon-button fxFlexAlign="end" (click)="openAddHashPopup()" matTooltip="Add new Hash">
        <mat-icon svgIcon="shape-rectangle-plus"></mat-icon>
      </button>
    </mat-card>
  </div>
</div>

<ng-template #username>
  <button matTooltip="Logout" mat-stroked-button (click)="nearService.signOut()"
    [textContent]="(nearService.accountId | async)  ? (nearService.accountId | async) : 'loading...'">loading...</button>
</ng-template>

<ng-template #loginButton>
  <button matTooltip="Login" mat-raised-button (click)="hashassine.signIn()">Login</button>
</ng-template>
