<div gdColumns="1fr" gdRows="auto 1fr" gdGap="15px" class="main">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Hashassine</h1>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div *ngIf="hashassine.isSignedIn | async; then username else loginButton"></div>
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon [textContent]="document.body.classList.contains('theme-alternate') ? 'dark_mode' : 'light_mode'">
          light_mode</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div gdColumns="1fr 1fr" gdRows="auto" gdGap="15px">
    <mat-card role="section">
      <mat-card-title>Hashes</mat-card-title>
      <mat-card-content>
        <app-hash-list></app-hash-list>
      </mat-card-content>
    </mat-card>
    <mat-card role="section">
      <mat-card-title>Yours</mat-card-title>
      <mat-card-content>
        <app-profile></app-profile>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #username>
  <button mat-stroked-button (click)="hashassine.signOut.subscribe()"
    [textContent]="(hashassine.accounId | async)  ? (hashassine.accounId | async) : 'loading...'">loading...</button>
</ng-template>

<ng-template #loginButton>
  <button mat-raised-button (click)="hashassine.signIn.subscribe()">Login</button>
</ng-template>
