<form (ngSubmit)="submit()" [formGroup]="dialogForm">
    <mat-dialog-content fxLayout="column">
        <mat-form-field>
            <mat-label form="hash">Hash</mat-label>
            <input name="hash" formControlName="hash" matInput placeholder="Hash">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hash Type</mat-label>
            <mat-select form="hash">
                <mat-option *ngFor="let hashType of hashTypes" [value]="hashType">
                    {{hashType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="submit" mat-button mat-dialog-close tabindex="-1">Submit</button>
    </mat-dialog-actions>
</form>